*.asv
*.aux
*.bak
*.bz2
*.cdr
*.class
*.csv
*.dat
*.dta
*.dvi
*.db
*.el
*.eps
*.fig
*.gz
*.jar
*.log
*.lst
*.mat
*.[oa]
*.out
*.pc
*.pgf
*.pic
*.prn
*.ps
*.psF
*.pyc
*.rpt
*.rss
*.sas7b*
*.temp
*.tmp
*.txt
*,v
*.xls
*.xlsx
*.zip
*.Z
.Rhistory
.Data
.java
spool

## LaTeX
*.lof
*.lot
*.nav
*.toc
*.snm

## EMACS
*~
\#*
.\#*

.*rc
